# Fortran and datafiles
*.o
*.mod
*.data
*.npy
*.extent
*.bbox
*.log
xgeoclaw
# Topo
*.asc
*.tif
*.tiff
*.xyz
*.xy
*.geojson
*.cpg
*.dbf
*.prj
*.qgz
*.qix
*.shp
*.shx
*.qmd
# Hidden files
.*
# Outputs
*/
!article/
# Latex
*.aux
*.toc
*.out
*.bbl
*.blg
svg-inkscape