AVAC_outdir: avac/_output
base_bathymetry: topo.tif
bathymetry: topo_trift.asc
topo_type: 3
output_format: binary64
bc_size: 100

flood_dilation: 5  # px

mode: src  # either src or bc
min_alt_avac: 1776  # for mode="src" only
lake_alt: 1767
# Dam
dams: dam.geojson
dam_alts: 1771.2

# Boundaries
lower:
  - 2669915
  - 1170345
upper:
  - 2670835
  - 1172005

fgout_fgno: 1  # from AVAC, for mode="src" only