AVAC_outdir: /media/giboul/Data/Trift/AVAC/_output10
base_bathymetry: ../avac_trift/topo.asc
bathymetry: topo_trift.asc
topo_type: 3
output_format: binary64
bc_size: 100

max_refinement: 4

flood_dilation: 20  # px

duration: 80  # time of the simulation [s]
nout: 200

qinit:
  - qinit.xyz

cell_size: 3

mode: src  # either src or bc (or debug for no flux introduction)
min_alt_avac: 1776  # for mode="src" only
lake_alt: 1767
# Dam
dams: dam_trift.shp
dam_alts: 1771.2

amr_ratios:
  x: [2, 4, 8]
  y: [2, 4, 8]
  t: [2, 4, 8]

# Boundaries
lower:
  - 2669815
  - 1170245
upper:
  - 2670935
  - 1172105

fgout_fgno: 2  # from AVAC, for mode="src" only